logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
!.autod.conf.js
!swagger-jsdoc.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
config/**/*.local.ts
config/**/*.prod.ts
*.log
*.db
app/public
app/view/index.njk
